{% extends 'Museum/parent.html' %}
{% load static %}
{%  block head %}
    <link rel="stylesheet" href="{% static 'members/css/profile_style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}
{% block title %}
    Profile
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img id="profile_image" src="{{ user.profile.avatar_url }}" alt="profile picture">
            </div>
            <div class="col-6">
                <P>{{ user.profile.bio }}</P>
            </div>
        </div>
        <h2 class="mt-2">{{ user.username }}</h2>
        <P class="mt-3">
            <span class="material-symbols-large material-symbols-outlined location">
                person_pin_circle
            </span> {{ user.profile.location }}
        </P>
        <P class="mt-3">
            <span class="material-symbols-large material-symbols-outlined material-symbols-celebration">
                celebration
            </span>{{ user.profile.birth_date }}</P>
        <p class="d-flex justify-content-end">Edit profile 
            <a href="{% url 'update_profile' %}">
                <span class="material-symbols-large material-symbols-outlined">
                edit
                </span>
            </a>
        </p>
    </div>
{% endblock %}