{% extends 'Museum/parent.html' %}
{% load static %}
{%  block head %}
    <link rel="stylesheet" href="{% static 'members/css/profile_style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{% endblock %}
{% block title %}
    Profile
{% endblock %}
{% block content %}
    <div class="container">
        <h1>{{ user.username }}</h1>
        <div class="row">
            <div class="col">
                <img id="profile_image" src="{{ user.profile.avatar_url }}" alt="profile picture">
            </div>
            <div class="col">
                <P>{{ user.profile.bio }}</P>
            </div>
        </div>
        <p>Email: {{ user.email }}</p>
        <P>Location: {{ user.profile.location }}</P>
        <P>Birth date: {{ user.profile.birth_date }}</P>
        <p>Edit profile 
            <a href="{% url 'update_profile' %}">
                <span class="material-symbols-outlined">
                edit
                </span>
            </a>
        </p>
    </div>
{% endblock %}