{% extends 'Museum/parent.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'members/css/profile_style.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}
{% block title %}
    Profile
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 mb-4">
                <img id="profile_image" src="{{ object.avatar_url }}" alt="profile picture" data-bs-toggle="modal"
                     data-bs-target="#imageModal">
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <h2 class="mb-5">{{ object.user.username }}</h2>
                <div class="bio">{{ object.bio }}</div>
            </div>
        </div>
        <P class="mt-3">
            <span class="material-symbols-large material-symbols-outlined location">person_pin_circle</span> {{ object.location }}
        </P>
        <P class="mt-3">
            <span class="material-symbols-large material-symbols-outlined material-symbols-celebration">celebration</span>{{ object.birth_date }}
        </P>
    </div>
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <img id="modal_image" src="{{ object.avatar_url }}" alt="Avatar" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
{% endblock %}