$emily-sizes: (
        576px: 45%,
        768px: 55%,
        992px: 65%,
        1200px: 75%,
        1400px: 80%
);

$font-sizes-the: (
        576px: 40px,
        768px: 48px,
        992px: 56px,
        1200px: 64px,
        1400px: 96px
);

$font-sizes-dickinsonian: (
        576px: 32px,
        768px: 40px,
        992px: 48px,
        1200px: 56px,
        1400px: 80px
);

$font-sizes-museum: (
        576px: 48px,
        768px: 56px,
        992px: 64px,
        1200px: 72px,
        1400px: 120px
);


$font-sizes-links: (
        576px: 16px,
        768px: 16px,
        992px: 24px,
        1200px: 32px,
        1400px: 40px
);
