$gallery-background-url: '../images/gallery_background.png';

@import "mixins";

@include fully-covered-background($gallery-background-url);

.piece-block {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 3%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.piece-block:hover .overlay {
  opacity: 1;
}