$user-avatar-size: 3em;
$pdf-cover-size: 25%;
$playwrightNL: '../fonts/PlaywriteNL-VariableFont_wght.ttf';

@font-face {
    font-family: 'playwrightNL';
    src: url($playwrightNL);
}

.user-avatar {
    width: $user-avatar-size;
    height: $user-avatar-size;
    border-radius: 50%;
    object-fit: cover;
}

.pdf-cover {
    width: $pdf-cover-size;
    height:auto;
    object-fit: contain;
}

.pagination-section {
    height: 3.5rem;
    font-family: 'playwrightNL', sans-serif;
}

.pagination-link {
    text-decoration: none;
}

.pagination-btn {
    background: none;
    border: none;
}