@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body,
html {
  background: #1f2025;
  font-family: 'Varela Round', sans-serif;
  color: white;
}

hr:before {
  content: '';
}

hr:after {
  content: '';
}

.dots {
  margin: 1.5em 0;
  text-align: center;
  border: none;
}

.dots:before {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #eee;
  margin: 0 0.4em;
}

.dots:after {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #eee;
  margin: 0 0.4em;
}


.accessory {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
  height: 6px;
  background-image: radial-gradient(
          closest-side,
          hsla(0, 0%, 50%, 1.0),
          hsla(0, 0%, 50%, 0) 100%);
  position: relative;
}

.menu li {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;

  a {
    font-size: 22px;
    text-decoration: none;
    transition: all 0.45s;
  }

  &:hover {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==');
    animation: line 1.3s;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}


.menu li:nth-child(1) a {
  color: #9CA653;
}

.menu li:nth-child(2) a {
  color: #F0F2DC;
}

.menu li:nth-child(3) a {
  color: #8C8045;
}

.menu li:nth-child(4) a {
  color: #F2C3A7;
}

.menu li:nth-child(5) a {
  color: #8C442A;
}

.menu li.active a {
  text-decoration: underline overline;
}

.navbar {
  background-color: #1c1d22;
}

.custom-me {
  margin-right : 110px;
}

.profile-pic img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

#dropdown-svg {
  width : 24px;
  height : 24px;
}

#logout-svg {
  width : 24px;
  height : 24px;
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

@media only screen and (max-width: 768px) {
  .menu li:hover {
    background: none; /* Remove background on hover for mobile devices */
    animation: none; /* Disable animation on hover for mobile devices */
  }
}