
@import "mixins";

$FELIXTI-font: '../fonts/FELIXTI.TTF';

@font-face {
    font-family: 'felixti';
    src: url($FELIXTI-font);
}


#poem-line {
    border: 4px solid #E17B75;
    color : #E17B75;
}

.more-poems {
    position: relative;
}

.poem-list {
    display:none;
    background-color: #FFFFFF;
}

.envelope-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
}

.envelope-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.more-poems:hover div {
    display: inline-block;
}

.more-poems:hover {
    transform: translateY(-10px);
    animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@include responsive-poem-header(poem-header);

#poem-header {
    color: #E17B75;
    margin-bottom: 5px;
    line-height: 1;
    font-family: 'felixti', serif;
}

.poem-container {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.uploader-profile-pic {
    position: relative;
    width: 152px;
    height: 176px;
    margin-right: 10px;
}

.uploader-profile-pic img {
    position: absolute;
    top: 0;
    right: 0;
}

.uploader-profile-pic img:first-child {
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 1;
}

.uploader-profile-pic img:last-child {
    padding: 5%;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 0;
}