{% extends 'Museum/parent.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'Museum/css/list_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'Museum/css/essays_style.css' %}"/>
{% endblock %}
{% block title %}
    Essays
{% endblock %}
{% block content %}
    {% if categories %}
        <div class="row mt-3 mb-5">
            <div class="d-flex flex-column align-items-end">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="categoryDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
                        {% for category in categories %}
                            <li><a class="dropdown-item"
                                   href="{% url 'essays_by_category' category.category %}">{{ category.category }}
                                ({{ category.count }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container-fluid mb-5 p-5">
        <div class="accordion col-12" id="accordionPanelsStayOpenExample">
            {% for essay in essays %}
                <div class="accordion-item mb-3">
                    <h2 class="accordion-header" id="panelsStayOpen-heading{{ essay.id }}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ essay.id }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{ essay.id }}">
                            <img class="user-avatar me-3" src="{{ essay.user.profile.avatar_url }}" alt="avatar picture"/>
                            {{ essay.title }}
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapse{{ essay.id }}" class="accordion-collapse show" aria-labelledby="panelsStayOpen-heading{{ essay.id }}">
                        <div class="accordion-body">
                            <h3><b>{{ essay.title }}</b></h3>
                            <p>
                                By: <b>{{ essay.author }}</b>
                            </p>
                            <div class="d-flex flex-row">
                                <img class="pdf-cover me-3" src="data:image/png;base64,{{ essay.get_pdf_cover }}" alt="{{ essay.title }}"/>
                                {{ essay.abstract|safe }}
                            </div>
                            <!-- Make sure only the user who uploaded the essay can edit it -->
                            {% if user == essay.user %}
                                <a href="{% url 'museum-essay-update' essay.id %}">Edit essay</a>
                                <a href="{% url 'museum-essay-delete' essay.id %}">Delete essay</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
