{% extends 'Museum/parent.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'Museum/css/creation_form_style.css' %}" />
{% endblock %}
{% block title %}
  Update Essay
{% endblock %}
{% block content %}
  <h1>This is the essay update form</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        <p>
          <strong>Please, correct the errors below:</strong>
        </p>
        {{ form.errors }}
      </div>
    {% endif %}
    <label for="id_title">essay's title:</label>
    {{ form.title }}
    <label for="id_author">essay's author:</label>
    {{ form.author }}
    <label for="id_file">PDF file:</label>
    {{ form.file }}
    <label for="id_is_academic">Is this an academic essay?:</label>
    {{ form.is_academic }}
    <label for="id_abstract">essay's abstract:</label>
    {{ form.abstract }}
    <label for="id_category">essay's category:</label>
    {{ form.category }}
    <label for="id_language">essay's language:</label>
    {{ form.language }}
    <label for="id_date_published">Publication date:</label>
    {{ form.date_published }}
    <input type="submit" value="Submit" />
  </form>
{% endblock %}
{% block js %}

{% endblock %}
