{% extends 'Museum/parent.html' %}
{% load static %}
{%  block head %}
    <link rel="stylesheet" href="{% static 'Museum/css/creation_form_style.css' %}">
{% endblock %}
{% block title %}New Piece{% endblock %}

{% block content %}

    <h1>This is the Piece creation form</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {%  if form.errors %}
            <div class="alert alert-danger" role="alert">
                <p><strong>Please, correct the errors below:</strong></p>
                {{ form.errors }}
            </div>
        {% endif %}
        <label for="id_title">Piece's title: </label>
        {{ form.title }}
        <label for="id_content">Piece: </label>
        {{ form.piece }}
        <label for="id_author">Piece's author: </label>
        {{ form.author }}
        <label for="id_description">Piece's author: </label>
        {{ form.description }}
        <label for="id_date">Piece's category: </label>
        {{ form.category }}
        <label for="id_language">Piece's language: </label>
        {{ form.language }}
        <label for="id_date_published">Publication date: </label>
        {{ form.date_published }}

        <input type="submit" value="Submit">
    </form>

{% endblock %}

{% block js %}
    {% comment %}
    <script src="{% static 'Museum/js/xxxxx.js' %}"></script>
    {% endcomment %}
{%  endblock %}