{% extends 'Museum/parent.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'Museum/css/list_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'Museum/css/gallery_style.css' %}"/>
{% endblock %}
{% block title %}
    Gallery
{% endblock %}
{% block content %}
    <h1>This is the html gallery section</h1>
    <div class="row">
        <div class="d-flex flex-column align-items-end">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="categoryDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                </button>
                <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
                    {% for category in categories %}
                        <a href="{% url 'gallerypieces_by_category' category.category %}">{{ category.category }}
                            ({{ category.count }})</a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% for piece in gallery_pieces %}
        <div class="d-flex d-column">
            <img class="user-avatar" src="{{ piece.user.profile.avatar_url }}" alt="avatar picture"/>
            <p>
                Uploaded by: <b>{{ piece.user.username }}</b>
            </p>
        </div>
        <h3><b>{{ piece.title }}</b></h3>
        {% if piece.file_type == 'image' %}
            <img src="{{ piece.piece.url }}" alt="{{ piece.title }}"/>
        {% elif piece.file_type == 'video' %}
            <video width="320" height="240" controls>
                <source src="{{ piece.piece.url }}" type="video/webm"/>
                Your browser does not support the video tag.
            </video>
        {% else %}
            <p>Unsupported file type: {{ piece.piece }}</p>
        {% endif %}
        {{ piece.description|safe }}
        <p>
            By: <b>{{ piece.author }}</b>
        </p>
        <!-- Make sure only the user who uploaded the piece can edit it -->
        {% if user == piece.user %}
            <a href="{% url 'museum-gallerypiece-update' piece.id %}">Edit piece</a>
            <a href="{% url 'museum-gallerypiece-delete' piece.id %}">Delete piece</a>
        {% endif %}
    {% endfor %}
{% endblock %}
