{% extends 'Museum/parent.html' %}
{% load static %}
{% load static chunk_filter %}
{% block head %}
    <link rel="stylesheet" href="{% static 'Museum/css/list_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'Museum/css/gallery_style.css' %}"/>
{% endblock %}
{% block title %}
    Gallery
{% endblock %}
{% block content %}
    {% if categories %}
        <div class="row mt-3 mb-5">
            <div class="d-flex flex-column align-items-end">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="categoryDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
                        {% for category in categories %}
                            <li><a class="dropdown-item"
                                   href="{% url 'gallerypieces_by_category' category.category %}">{{ category.category }}
                                ({{ category.count }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        {% for i in page_obj|chunk:5 %}
            <div class="col-lg-3">
                {% for piece in i %}
                    <div class="piece-block">
                        <button class="modal-btn" type="button" data-bs-toggle="modal"
                                data-bs-target="#galleryModal" data-piece-url="{{ piece.piece.url }}" data-piece-title="{{ piece.title }}"
                                data-piece-author="{{ piece.author }}" data-piece-filetype="{{ piece.file_type }}" 
                                data-piece-detailurl="{% url 'museum-gallerypiece-detail' piece.id %}">
                            {% if piece.file_type == 'image' %}
                                <img class="img-fluid mb-3" src="{{ piece.piece.url }}" alt="{{ piece.title }}"/>
                            {% elif piece.file_type == 'video' %}
                                <video class="mb-3" width="100%" height="auto" autoplay muted>
                                    <source src="{{ piece.piece.url }}" type="video/webm"/>
                                    Your browser does not support the video tag.
                                </video>
                            {% else %}
                                <p>Unsupported file type: {{ piece.piece }}</p>
                            {% endif %}
                            <div class="overlay">{{ piece.title }}</div>
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="container pagination-section mt-5">
        <div class="row">
            <div class="col-3 d-flex justify-content-center">
                {% if page_obj.has_previous %}
                    <a class="pagination-link" href="?page=1">
                        <button class="pagination-btn">
                            <i class="fa-solid fa-backward"></i>
                        </button>
                    </a>
                    <a class="pagination-link" href="?page={{ page_obj.previous_page_number }}">
                        <button class="pagination-btn ms-3">
                            <i class="fa-solid fa-caret-left"></i>
                        </button>
                    </a>
                {% endif %}
            </div>
            <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                <p class="m-0">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
            </div>
            <div class="col-3 d-flex justify-content-center">
                {% if page_obj.has_next %}
                    <a class="pagination-link" href="?page={{ page_obj.next_page_number }}">
                        <button class="pagination-btn me-3">
                            <i class="fa-solid fa-caret-right"></i>
                        </button>
                    </a>
                    <a class="pagination-link" href="?page={{ page_obj.paginator.num_pages }}">
                        <button class="pagination-btn">
                            <i class="fa-solid fa-forward"></i>
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="galleryModal" tabindex="-1" aria-labelledby="galleryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="galleryModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-detail">See details</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'Museum/js/gallery.js' %}"></script>
{% endblock %}
