{% extends 'Museum/parent.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'Museum/css/list_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'Museum/css/poems_style.css' %}"/>
{% endblock %}
{% block title %}
    Poems
{% endblock %}
{% block content %}
    {% if categories %}
        <div class="row mt-3">
            <div class="d-flex flex-column align-items-end">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="categoryDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
                        {% for category in categories %}
                            <li><a class="dropdown-item"
                                   href="{% url 'poems_by_category' category.category %}">{{ category.category }}
                                ({{ category.count }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container">
        {% for poem in poems %}
            <div class="container-fluid">
                <div class="row mb-5">
                    <div class="col">
                        <div class="d-flex d-column">
                            <img class="user-avatar" src="{{ poem.user.profile.avatar_url }}" alt="avatar picture"/>
                            <p>
                                Uploaded by: <b>{{ poem.user.username }}</b>
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <a href="{% url 'museum-poem-detail' poem.id %}">
                            <h3><b>{{ poem.title }}</b></h3>
                        </a>
                        <p>
                            By: <b>{{ poem.author }}</b>
                        </p>
                        <!-- Make sure only the user who uploaded the poem can edit it -->
                        {% if user == poem.user %}
                            <a href="{% url 'museum-poem-update' poem.id %}">
                                <i class="fa-solid fa-pen-nib"></i>
                                Edit
                            </a>
                            <a href="{% url 'museum-poem-delete' poem.id %}">
                                <i class="fa-solid fa-trash-can"></i>
                                Delete
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
