{% extends 'Museum/parent.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
  <link rel="stylesheet" href="{% static 'Museum/css/creation_form_style.css' %}" />
{% endblock %}
{% block title %}
  Update Poem
{% endblock %}
{% block content %}
    {%  if user == object.user %}
        <div class="container pt-4">
            <form method="post">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    {% else %}
        <h1 class="text-center mt-5">You did not upload this!</h1>
    {% endif %}
{% endblock %}
{% block js %}

{% endblock %}
